@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #ee9;
}

header{
    font-size: 48px;
    font-weight: 900;
    height: 100px;
    background-color: lightsalmon;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-book-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-book-button{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    width: 150px;
    margin: 15px;
    border-radius: 5px;
    border: none;
}

button:hover{
    background-color: lightgray;
    cursor: pointer;
}

.form{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    height: 25px;
    width: 200px;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;   
}

.read-checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 15px;
    margin-left: -130px;

}

.checked{
    height: 20px;
    width: 20px;
    margin-left: 10px;
}


.submit-button,
.return-button{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 40px;
    width: 80px;
    margin: 15px;
    border-radius: 5px;
    border: none;
}


.book-display{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.card{
    height: 250px;
    width: 300px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
}

.hidden{
    display: none;
}